<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Starian Master Portal</title>

  <!-- Motor de carregamento de módulos do Single-SPA -->
  <script src="https://unpkg.com/systemjs@6.15.1/dist/system.min.js"></script>
  <script src="https://unpkg.com/systemjs@6.15.1/dist/extras/amd.min.js"></script>
  <script src="https://unpkg.com/systemjs@6.15.1/dist/extras/module-types.min.js"></script>

  <!-- Import Map Principal: libs compartilhadas e apps remotos -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://unpkg.com/single-spa@6.0.3/lib/es5/system/single-spa.min.js",
        "@starian/root-config": "/starian-root-config.js",
        "@starian/spa-people": "http://localhost:8080/main.js"
      }
    }
  </script>

  <!-- Import Map Local: Sobrescreve URLs para development se necessário -->
  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@starian/root-config": "http://localhost:9000/starian-root-config.js"
      }
    }
  </script>
  <% } %>

  <!-- Template de rotas do Single-SPA Layout -->
  <template id="single-spa-layout">
    <single-spa-router>
      <main>
        <route default>
          <application name="@starian/spa-people"></application>
        </route>
      </main>
    </single-spa-router>
  </template>
</head>

<body>
  <script>
    System.import('@starian/root-config');
  </script>
</body>

</html>